spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/your-repo/configuration.git # Укажите ваш GitHub/GitLab/SVN репозиторий
          searchPaths: '{application}'